{% load static %}

<header>
    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
            <img src="{% static 'img/logo.png' %}" alt="BookCrossing" width="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% with request.resolver_match.view_name as view_name %}
                    <li class="nav-item {% if view_name == 'catalog:index' %}active{% endif %}">
                        <a class="nav-link"
                           href="{% url 'catalog:index' %}">Главная</a>
                    </li>
                    <li class="nav-item {% if view_name == 'pages:about' %}active{% endif %}">
                        <a class="nav-link"
                           href="{% url 'pages:about' %}">О проекте</a>
                    </li>

                    <li class="nav-item{% if view_name == 'catalog:categories' %}active{% endif %}">
                        <a class="nav-link"
                           href="{% url 'catalog:categories' %}">Категории</a>
                    </li>
                {% endwith %}
            </ul>
        </div>
    </nav>
</header>