{% extends 'base.html' %}

{% block title %}BookCrossing - Информация о категориях{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h1>Информация о категориях</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Категория 1</h5>
                        <p class="card-text">Описание категории 1.</p>
                        <p class="card-text">Количество книг из этой категории: 10</p>
                        <a href="category.html" class="btn btn-primary">Просмотреть</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Категория 2</h5>
                        <p class="card-text">Описание категории 2.</p>
                        <p class="card-text">Количество книг из этой категории: 15</p>
                        <a href="category.html" class="btn btn-primary">Просмотреть</a>
                    </div>
                </div>
            </div>
            <!-- Repeat the above card section for each category dynamically -->
        </div>
    </div>
{% endblock content %}