{% extends 'base.html' %}
{% load static %}

{% block title %}BookCrossing - Главная{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Список книг</h1>
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="position-relative">
                        <span class="badge badge-success">Популярная</span>
                        <img src="../../static_project/img/no-image.jpg"
                             class="card-img-top book-image" alt="Book 1">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Название книги 1</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Автор книги 1</h6>
                        <p class="card-text">Краткое описание книги 1 (меньше 100
                            символов)</p>
                        <a href="book.html" class="btn btn-primary mt-3">Подробнее</a>
                    </div>
                </div>
            </div>
            <!-- Repeat the above card for other books -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="position-relative">
                        <span class="badge badge-primary">Новая</span>
                        <img src="../../static_project/img/no-image.jpg"
                             class="card-img-top book-image" alt="Book 2">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Название книги 2</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Автор книги 2</h6>
                        <p class="card-text">Краткое описание книги 2 (меньше 100
                            символов)</p>
                        <a href="book2.html" class="btn btn-primary mt-3">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}